/** ------------------------------------------------------------------- CSS RESET FROM ERIC MEYER -------------------------------------------------------------------- **/

/* Using Eric Meyer's reset from http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126   */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* This overrites the css reset to allow for bold and italics. the !important is to support IE7 */
strong, b, strong *, b * { font-weight: bold !important; }
em, i, em *, i * { font-style: italic !important; }

/** -------------------------------------------------------------------- MY CSS --------------------------------------------------------------------------------------------------- **/

body, html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "Lato", sans-serif;
	color: #777;
}

/* --------------------- CSS for "home page" ------------------------- */
.homePage {
	position: relative;
	opacity: 0.9;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("homepage.jpg");
	height: 100%;
}

.homeCaption {
	position: absolute;
	left: 0;
	top: 35%;
	width: 100%;
	text-align: center;
	color: #000;
}

#captionName {
	color: #fff;
	padding: 18px;
	font-size: 60px;
	letter-spacing: 2px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#captionTitle {
	color: #fff;
	padding: 18px;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.learnMore {
	position: absolute;
	left:0 ;
	top: 90%;
	width: 100%;
	text-align: center;
	color: #000;
}

.round {
    position: absolute;
    border: 3px solid #fff;
	left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.arrows {
    height: 3px;
    width: 15px;
    background: #fff;
    transition: 0.4s ease;
}

#arrow1 {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

#arrow2 {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

#arrow3 {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

#arrow4 {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover #arrow1 {
    transform: rotate(-135deg);
}

.round:hover #arrow2 {
    transform: rotate(135deg);
}

.round:hover #arrow3 {
    transform: rotate(225deg);
}

.round:hover #arrow4 {
    transform: rotate(-225deg);
}

/* -------------------------------- CSS for second page ----------------------------- */

.secondPage {
	position: relative;
	/* opacity: .9; */
	background-position: center;
	/*background-repeat: no-repeat; */
	background-size: cover;
	background-color: #fff;
	height: 100%;
}

	
